.image-container {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.image-preload {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.hide-preload{
  display: none;
}

.image-loaded {
  position: absolute;
  object-fit: contain;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  transition: opacity 1s ease;
}

.image-fade-in {
  opacity: 1;
}
