
.filter{
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  position: relative;
  background-color: #ffffff;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 8px;
  overflow: hidden;
  margin: 8px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  text-transform: capitalize;
  font-family: cursive;
  word-break: break-all;

  &:after{
    background-image: url(https://www.redditstatic.com/desktop2x/img/trending-placeholder.png);
    background-size: cover;
    opacity: 0.3;
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
  }

}

.filterWrapper{
  background: #878A8C;
  display: flex;
  justify-content: space-around;
  padding:32px;
}

