.link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.icon {
  height: 32px;
  padding: 8px 8px 8px 0;
  width: 32px;
}
.text {
  display: block;
  height: 18px;
  margin-right: 20px;
  width: auto;
}